<div class = "center jumbotron">
<h1>Edit To do list </h1>
</div>
<h1>
<%= render 'form' %>
</h1>

<br>
<h1>
<%= link_to 'Show |', @todo_item %>	
<%= link_to '| Back', todo_items_path %>

</div></h1>

